.alerts {
    background-color: lightgrey;
    color: black;
    font-size: 3rem;
}
#shipping-cart-id{
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
}
#add-address-id{
    margin-left: 8%;
    margin-right: 8%;
    margin-right: 8%;
}